@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root{
  --green : #008234;
  --blue : rgb(13, 0, 110);
}
body{
  font-family: 'Montserrat', sans-serif;
}

/* #008234 */